troubleshooting.py
Untitled.ipynb
Workbook1.ipynb
cnn_mnist.py
tinytensor/engine_old.py
tinytensor/nn_test.py
tinytensor/nn_2.py
tinytensor/utils.py
mlp_blobs.py
.ipynb_checkpoints
__pycache__
tinytensor/nn2.py
test_better_conv.py
test_lazy.py
announcement.txt
.gitignore